* {
    /*border: solid 1px black;*/
    font-family: "Quicksand", Avenir, Avenir Next, san-serif, Lato, Helvetica Neue, Helvetica, Arial, LiHei Pro Medium, Microsoft JhengHei, san-serif;
    font-weight: normal;
    letter-spacing: 0px;
    position: relative;
}
html, body{
    width: 100%; height: 100%;
    padding: 0px; margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    /*-webkit-font-smoothing: antialiased;*/
    scroll-behavior: smooth;
}
body {
    background-color: #66805e;
    color: #d4d9d2;/*#465442*/
}
#root {
    height: 100%;
}
a {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.main {
    width: 90%; height: auto;
    margin: 150px 50px 20px 50px;
    text-align: left;
    /*border: solid 1px #869c94;*/
}
.container {
    width: 1080px; height: auto;
    min-height: 100%;
    margin: 0 auto;
    background-color: #252525;
    box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.15);

}
/* For desktop: */
.sidenav {
    position: fixed;
    display: inline-block;
    width: 250px; height: 100%;
    vertical-align: top;
    z-index: 3;
    font-family: Avenir, Avenir Next, san-serif;
}
.header {
    padding: 80px 0px 10px 80px;
}
.profile-img {
    display: block;
    width: 220px; height: 220px;
    border-radius: 50%;
}
.foot-img {
    width: 15vw; height: 15vw;
    margin: -150px 40px 20px auto;
}
.present-img {
    display: block;
    width: 500px;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
}
.present-img-mobile {
    display: block;
    width: 250px;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
}
.nav-logo {
    padding: 10px 0px 15px 70px;
    width: 300px;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 800;
    font-family: Avenir, Avenir Next, san-serif;
    color: #c1c7bf;
}
.option {
    display: none;
}
.sideoption {
    display: block;
    padding: 8px 40px 8px 70px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
}
.sideoption:hover {
    color: #a5b8a3;
}
.contact {
    display: block;
    padding: 8px 40px 8px 70px;
    text-align: left;
}
.external-link {
    display: inline-block;
    margin: 0 10px 0 0px;
    color: #d4d9d2;
}
.linkedin {
    font-size: 31px;
}
.github {
    font-size: 31px;
}
.side-title {
    padding: 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
}
.side-content {
    padding: 5px 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
}
.tab-content-container {
    display: inline-block;
    width: 830px; height: auto;
    margin-left: 250px;
    z-index: 2;
    vertical-align:top;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
.block {
    padding: 20px 80px;
}
.textbutton {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    text-decoration: none;
    color: #ccc;
}
.textbutton:hover {
    background-color: #ccc;
    color: #41543c;/*#536e4b;*/
}
.subblock {
    padding: 8px 0px
}
.title {
    padding: 10px 0px 15px 0px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
}
.subtitle {
    display: inline-block;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #d4d9d2;
}
.medium {
    display: block;
    font-family: "Lato";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
}
.language {
    display: inline-block;
    width: 80px;
    font-family: "Lato";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;

}
.score {
    display: inline-block;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.small {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
}
.skilltag {
    display: inline-block;
    padding: 3px 10px;
    margin: 5px 7px 7px 0px;
    border-radius: 13px;
    font-size: 13px;
    font-weight: 600;
    background-color: #536e4b;
    color: #eee;

}
.mylist {
    padding-left: 20px;
}
@media only screen and (min-width: 500px) {
  .year {
    float: right;
  }
}
@media only screen and (min-width: 1225px) {
  .foot-img {
    float: right;
  }
}
@media only screen and (max-width: 1224px) {
  /* For mobile phones: */
  body {
    background-color: #252525;
  }
  .container {
    width: 100%; height: auto;
    top: 0px;
    box-shadow: none;
  }

  .sidenav {
    width: 100%; height: auto;
    position: fixed;
    background-color: #252525;
  }
  .nav-logo {
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%; height: 30px;
    font-size: 20px;
  }
  .option {
    position: absolute;
    display: inline-block;
    top: 0px; right: 0px;
    width: 50px; height: 30px;
    padding: 10px 0px 10px 0px;
    z-index: 3;
    cursor: pointer;
  }
  .options {
    z-index: 2;
    max-height: 0;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    overflow: hidden;
  }
  .options.in {
    display: block;
    max-height: 150px;
  }
  .sideoption {
    padding: 15px 0px 15px 0px;
    text-align: center;
    text-transform: none;
  }
  .contact {
    padding: 15px 0px 15px 0px;
    text-align: center;
  }
  .side-title {
    text-transform: none;
  }
  .tab-content-container {
    width: 100%; height: auto;
    margin-top: 50px; margin-left: 0px;
  }
  .profile-img {
    display: block;
    width: 60%; height: auto;
    max-width: 200px; max-height: 200px;
    margin: 30px auto 20px auto;
    border-radius: 50%;
  }
  .foot-img {
    display: block;
    width: 50%; height: auto;
    margin: 30px auto 20px auto;
  }
  .present-img {
    width: 95%;
  }
  .main {
    width: 100%; height: auto;
    margin: 0px; padding: 0px;
    text-align: center;
  }
  .block {
    display: inline-block;
    width: 75%;
    padding: 20px 0px;
    text-align: left;
    vertical-align: top;
  }
  .external-link {
    margin: 0 5px 0 5px;
  }
}